<div class="container">
  <div class="row">
    <div class="col-auto">
      <h3>コメント一覧</h3>
      <h6><%= @post.place_name %>についてのコメント</h6>
        <ul class="list-unstyled">
          <% @post.comments.each do |comment| %>
          <li>
            <label>No</label>
            <%= comment.id %>
          </li>
          <li>
            <label>コメント詳細</label>
            <%= comment.comment_contents %>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <%= link_to "戻る", user_post_path(@post.user, @post), class:"btn btn-danger mb-3" %>
    </div>
  </div>
</div>
