<div class="container">
<h4>ログインページ</h4>
<br/>

<%= form_with model: @user, local: true, url: new_user_session_path do |f| %>
  <div class="row">
    <label class="col-lg-3 ">メールアドレス</label>
      <div class="col-lg-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size:"50" %>
      </div>
  </div><br/>

  <div class="row">
    <label class="col-lg-3">パスワード</label>
      <div class="col-lg-3">
        <%= f.password_field :password, autocomplete: "current-password", size:"50" %>
      </div>
  </div><br/>

  <div class="row">
    <div class="col-lg-3">
    <%= f.submit "Log in", class:"btn btn-primary col-3" %>
    </div>
  </div>
<% end %>