<div class="container">
<h2>管理者ログイン</h2><br/>

  <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>

    <div class="row">
      <label class="col-lg-3">メールアドレス</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", size:"50" %>
    </div><br/>

    <div class="row">
      <label class="col-lg-3">パスワード</label>
      <%= f.password_field :password, autocomplete: "current-password", size:"50" %>
    </div><br/>

    <div class="actions">
      <%= f.submit "ログイン", class:"btn btn-primary" %>
    </div><br/>
    <% end %>

    <h5>管理者登録が済んでいない方は、サポートセンターにご連絡ください</h5>
    <h5>連絡先：0120-123-456</h5>
    </div>
  </div>
</div>
  