<div class="container">
    <div class="row">
        <div class="col-auto">
            <div class="about-image">
                <h3>S-mapについて</h3>
                    <%= image_tag "S-map.png" %>
            </div>
        </div>
    </div>
    <div class="row">
        <p>S-mapはその名の通り「災害」の時に役に立つサイトを目指して作成しました。</br>
        普通の防災マップではどこか分かりにくいな、レビューサイトのような口コミあったらな、、、、</br>
        との想いからシンプルで使いやすい防災マップを作成しました。</p>
    </div>
</div>