<div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
               <%= image_tag "S-map.png" %>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <p>S-mapは災害時の避難や準備の時に役に立つサイトを目指して作成しました。</br>
            　 災害の時と言っても、普段の生活の中で使用して、災害時に有効な場所を把握しておく、、といったイメージでしょうか。</br>
               普通の防災マップではどこか分かりにくいな、レビューサイトのような口コミがあったらな、、、、</br>
               との想いからシンプルで使いやすい防災マップを作成しました。
            </p>
        </div>
    </div>
</div>