<div class="comtainer">
    <div class="row">
        <div class="col-md-12 text-center mt-4">
            <%= image_tag "S-map.png", class:"img-fluid", size: '300x300' %>
        </div>
        <div class="row">

        </div>
    </div>
</div>