<div class="comtainer">
    <div class="row">
        <div class="col-md-12 text-center mt-2">
            <h3>防災情報サイト<strong>s-map</strong></h3>
            <%= image_tag "S-map.png", class:"img-fluid", size: '200x200' %>
        </div>
        <div class="row">

        </div>
    </div>
</div>