<h1>Google-map-test</h1>

<input id="address" type="textbox" value="Tokyo, TKO">

<input type="button" value="Encode" onclick="codeAddress()">

<div id='map'></div>

<style>
#map{
  height: 400px;
}
</style>

<script>

let map
let geocoder

function initMap(){
　geocorder = new google.maps.Geocoder
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.680, lng: 139.767},
  zoom: 12
  });
}

function codeAddress(){
    let inputAddress = document.getElementById('address').value;
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

</script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG-rdQVpBg1i4-BwQ6ofhHtnYa8tox3ac&callback=initMap"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyAIqZunRMTIGO-h-xwKHGQbz3l8YV840ts"></script>