@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
       body {
         font-family: 'Noto Sans JP', sans-serif;
       }

       .link {
         text-decoration: none;
         color: white ;
       }