@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
       body {
         font-family: 'IBM Plex Sans', sans-serif;
         background-color: #DDDDDD;
       }

       .link {
         color: #352359!important;
       }

       .site-image {
              width: 10px;
              height: 10px;
       }

       .foot {
              font-family: 'IBM Plex Sans', sans-serif;
              background-color: #008080;
              height: 50px;
              text-align: center;
              left: 0;
              bottom: 0;
              width: 100%;
              padding-top: 15px;
       }

       .info {
              font-size: 15px;
       }

       .pagination {
              margin-top: 5px;
              justify-content: center;
       }