<div class="conteiner">
  <div class="row">
    <div class="col-md-8 mt-2">
      <h2>カテゴリ一覧</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
             カテゴリ名一覧
            </th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td>
                <%= category.name %>
              </td>
              <% if admin_signed_in? %>
              <td>
                <%= link_to "カテゴリを編集", edit_admin_category_path(category) %>
              </td>
              <td>
                <%= link_to "カテゴリを削除する", admin_category_path(category), method: :delete, class: "btn btn-danger" %>
              </td>
              <% end %>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>