<div class="container">
  <div class="row">
    <div class="col mt-2">
      <h3>ユーザー一覧</h3>
      <% @users.each do |user| %>
      <table class="table table-bordered table-sm">
            <thead class=""></thead>
              <tr><th>ユーザーID</th><td><%= user.id %></td></tr>
              <tr><th>氏名</th><td><%= user.name %></td></tr>
              <tr><th>住所</th><td><%= user.address %></td></tr>
              <td><%= link_to "詳細情報", admin_user_path(user.id), class:"btn btn-warning" %></td>
        </table>
        <% end %>
    </div>
  </div>
</div>