<div class="container">
  <h3>ユーザー一覧</h3>
  <% @users.each do |user| %>
    <div class="row">
      <div class="col-md-4 font-weight-bold">ユーザーID</div>
      <div class="col-md-8"><%= user.id %></div>
    </div>
    <div class="row">
      <div class="col-md-4 font-weight-bold">氏名</div>
      <div class="col-md-8"><%= user.name %>さん</div>
    </div>
    <div class="row">
      <div class="col-md-4 font-weight-bold">住所</div>
      <div class="col-md-8"><%= user.address %></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= link_to "詳細情報", admin_user_path(user.id), class:"btn btn-warning" %>
      </div>
    </div>
  <% end %>
</div>